@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding-top: 0;
    overflow-y: scroll;
    font: 14px monospace, monospace;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 28px;
    background-color: #eae6e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23faf6f0' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    color: #073642;
    min-height: 100vh;
}

pre {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    overflow-x: hidden;
}

code {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    overflow-x: scroll;
}

img {
    display: block;
    max-width: 80ch;
    border-radius: 6px 6px;
    margin-left: auto;
    margin-right: auto;
}

a {
    /* text-decoration: none; */
    color: #2aa198;
}

i {
    color: #859900;
}

b {
    color: #6c71c4;
}

em {
    color: #93a1a1;
}

th, td {
    padding-left: 60px;
    padding-right: 60px;
    vertical-align: middle;
}

.blur {
    background: #fdfaf6f8;     
    height: 100%;
    width: 100%;
}

.inline {
    display: inline;
}

.c {
    display: table-cell;
    width: 80ch;
    border-radius: 6px 6px;
}

.p {
    display: table-cell;
    width: 42ch;
    border-radius: 6px 6px;
    user-select: none;
    top: 96px;
    position: sticky;
}

.t {
    display: table-cell;
}

.tt {
    display: table-cell;
    width: 94ch;
    vertical-align: middle;
}

.invbox {
    width: inherit;
    border-radius: inherit;
    top: 144px;
    padding: 2ch;
}

.prebox {
    width: inherit;
    border-radius: inherit;
    position: inherit;
    top: 108px;
    padding: 2ch;
    background-color: #fdfaf6;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.pfp {
    width: 18ch;
    height: auto;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    display: table;
    width: 164ch;
    top: 0;
    margin-top: 12px;
    margin-left: calc((100% - 164ch) / 2);
    margin-right: calc((100% - 164ch) / 2);
    position: fixed;
    z-index: 11;
    user-select: none;
    background-color: #fdfaf6;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.1));
    border-radius: 6px 6px;
    font-size: 16px;

    a {
        text-decoration: none;
        font-style: italic;
    }
}

.bannerback {
    display: table;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    user-select: none;
    background-color: #eae6e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23faf6f0' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    border-radius: 6px 6px;
    font-size: 16px;

    a {
        text-decoration: none;
        font-style: italic;
    }
}

.footer {
    display: table;
    width: 100%;
    position: relative;
    margin: 0px auto;
    margin-top: auto;
    user-select: none;
    background-color: #fdfaf6;
    filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.1));
    border-radius: 6px 6px;

    a {
        text-decoration: none;
        font-style: italic;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    min-height: 192px;
    flex: 1;
}

.ctr {
    text-align: center;
    color: #d33682;
}

.invislink {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1689.98px) {
    body {
        font-size: 11px;
    }

    .banner {
        font-size: 13px;
    }

    th, td {
        padding-left: 32px;
        padding-right: 32px;
        vertical-align: middle;
    }
}

.mediaflex {
    display: flex;
    align-items: center;
}
